
.containerContac {
    display: flex;
   
    justify-content: space-between;
    align-items:center;
    gap: 10px;
   width: 300px;
   padding-left: 20px;
}

.buttonDelete {
    display: flex;
    gap: 5px;
    justify-content: center;

    width: 100px;
   
    border-radius: 10px;
        background-color: #e1dae9;
        box-shadow: 0 1px 1px #00000024, 0 1px 3px #0000001f, 0 2px 1px #0003;
        padding: 5px 20px;
        border: none;
        color: #00afd7;
    transition: background-color .5s cubic-bezier(.4, 0, .2, 1), color .5s cubic-bezier(.4, 0, .2, 1);

    padding: 10px 15px;
}
.thumbContact {
    display: flex;
    flex-direction: column;
    gap: 8px;
    white-space: nowrap;
    overflow: hidden;
}
.nameContact {
    

    font-size: 18px;
    font-weight: 700;

    margin-bottom: 5px;
}